# Site Settings
title                    : "Zhen Xing (邢桢)"
description              : "An AI researcher."
                         # "An AI researcher, but more precisely, a realistic idealist searching for the purpose of life."
repository               : "ChenHsing/chenhsing.github.io"
google_scholar_stats_use_cdn : true

# google analytics
google_analytics_id      : # G-SWFCX99KQZ

# SEO Related
google_site_verification : # 5WnFivyAdeewM5bmiHFC_b7rc3bcZMdDimGiAsblX1Q  # Search "google search engine consoles" in google, and then enter "https://search.google.com/search-console/welcome?utm_source=about-page" the website. Then you should know.
bing_site_verification   : #DC10214F99BADCE5A6F7367670FB4360  # In this website: "https://www.bing.com/webmasters?siteUrl=https://jacobyuan7.github.io/&state=verifySite"
# <meta name="msvalidate.01" content="DC10214F99BADCE5A6F7367670FB4360" />
baidu_site_verification  : # code-ZxFK3f4pfb

# Site Author
author:
  name             : "Zhen Xing" # (xingzhen)
  avatar           : "images/xz.gif"
  bio              : "Fudan University"
  location         : "China"
  employer         :
  pubmed           : 
  googlescholar    : "https://scholar.google.com/citations?user=yuiXa5EAAAAJ&hl=en&oi=ao"
  email            : "zhenxingfd@gmail.com"
  researchgate     :  # example: "https://www.researchgate.net/profile/yourprofile"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "ChenHsing"
  google_plus      :
  keybase          :
  instagram        :
  impactstory      : #"https://profiles.impactstory.org/u/xxxx-xxxx-xxxx-xxxx"
  lastfm           :
  linkedin         : # "rayeren"
  dblp             : # "https://dblp.org/pid/75/6568-6.html"
  orcid            : # "https://orcid.org/0000-0002-9160-3848"
  pinterest        :
  soundcloud       :
  stackoverflow    : # http://stackoverflow.com/users/123456/username
  steam            :
  tumblr           :
  twitter          : 
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
  - google_scholar_crawler
  - github_myprofile_updater
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
